<h1> All Q's </h1>

  <%= @questions.each do |q| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to q.title, q %>
        </h4>
      </div>
    </div>
  <% end %>
