<% if @comment.valid? %>

  $('.js-comments').prepend("<%= j(render(@comment)) %>");
  $('.new-comment').html("<%= j(render partial: 'comments/form', locals: { post: @post,  comment: @new_comment }) %>");

<% else %>

  $('.flash').prepend("<div class='alert alert-danger'> <button type='button' class='close' data-dismis='alert'> &times; </button> <%= flash.now[:alert] %> </div> ");
  $('.new-comment').html("<%= j(render partial: 'comments/form', locals: { post: @post, comment: @comment }) %>");

<% end %>
