<br>
<div class="jumbotron">
  <h1>Bloccit</h1>
<<<<<<< HEAD
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
=======
  <p>Bloccit is where you share dope links</p>
  <p>
    <%= link_to "Sign In", new_session_path, class: 'btn btn-primary' %> | |
    <%= link_to "Sign up", new_user_path, class: 'btn btn-primary' %> today!
>>>>>>> checkpoint-38
  </p>
</div>

<div class="row">
  <div class="col-md-4">
<<<<<<< HEAD
    <h2>Solves world hunger</h2>
    <p>Bloccit will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Bloccit will deliver money and education to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
=======
    <h2>We do not encourage puns; they're required.</h2>
  </div>
  <div class="col-md-4">
    <h2>Content must be made in America, legally<small>*</small>.</h2>
  </div>

  <div class="col-md-4">
    <h2>'Merica</h2>
>>>>>>> checkpoint-38
  </div>
</div>
