<div class="container">
  <br>
  <div class="jumbotron">
    <h1>Bloccit</h1>
    <p>Bloccit is where you share dope links</p>
    <p>
      <%= link_to "Sign In", new_session_path, class: 'btn btn-primary' %> | |
      <%= link_to "Sign up", new_user_path, class: 'btn btn-primary' %> today!
    </p>
  </div>
</div>
