<br>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is where you share dope links</p>
  <p>
    <%= link_to "Sign In", new_session_path, class: 'btn btn-primary' %> | |
    <%= link_to "Sign up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
    <h2>We do not encourage puns; they're required.</h2>
  </div>
  <div class="col-md-4">
    <h2>Content must be made in America, legally<small>*</small>.</h2>
  </div>

  <div class="col-md-4">
    <h2>'Merica</h2>
  </div>
</div>
